// ============================================
// Product Carousel Component
// ============================================

.product-carousel {
  padding: $spacing-xxxl 0;
  
  &__container {
    @include container;
  }
  
  &__header {
    text-align: center;
    margin-bottom: $spacing-xxl;
  }
  
  &__title {
    font-size: 2rem;
    font-weight: $font-weight-bold;
    color: $color-primary;
    margin-bottom: $spacing-md;
    
    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
  }
  
  &__subtitle {
    color: $color-gray-dark;
    font-size: $font-size-lg;
  }
  
  &__slider {
    position: relative;
  }
  
  // Flickity overrides
  .flickity-viewport {
    overflow: visible;
  }
  
  .flickity-button {
    background-color: $color-white;
    @include box-shadow($shadow-md);
    
    &:hover {
      background-color: $color-primary;
      
      .flickity-button-icon {
        fill: $color-white;
      }
    }
    
    &.previous {
      left: -20px;
    }
    
    &.next {
      right: -20px;
    }
  }
  
  .flickity-page-dots {
    bottom: -40px;
    
    .dot {
      background-color: $color-gray-light;
      
      &.is-selected {
        background-color: $color-primary;
      }
    }
  }
}
