// ============================================
// Hero Section Component
// ============================================

.hero {
  position: relative;
  min-height: 500px;
  background-color: $color-gray-lightest;
  @include flex-center;
  overflow: hidden;
  
  @include breakpoint(medium) {
    min-height: 600px;
  }
  
  @include breakpoint(large) {
    min-height: 700px;
  }
  
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    img {
      @include image-cover;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba($color-black, 0.5), rgba($color-black, 0.2));
    }
  }
  
  &__container {
    @include container;
    position: relative;
    z-index: 1;
  }
  
  &__content {
    max-width: 600px;
    color: $color-white;
  }
  
  &__subtitle {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: $spacing-md;
    
    @include breakpoint(medium) {
      font-size: $font-size-lg;
    }
  }
  
  &__title {
    font-size: 2.5rem;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-lg;
    line-height: $line-height-heading;
    
    @include breakpoint(medium) {
      font-size: 3.5rem;
    }
    
    @include breakpoint(large) {
      font-size: 4rem;
    }
  }
  
  &__description {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: $spacing-xl;
    
    @include breakpoint(medium) {
      font-size: $font-size-lg;
    }
  }
  
  &__cta {
    display: flex;
    gap: $spacing-md;
    flex-wrap: wrap;
  }
}
